html {

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 12pt;
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    background: linear-gradient(180deg, #ff012a 0%, #000000 100%) repeat;
}

div.click-to-top span {
    display: none;
    position: absolute;
    background: #333;
    color: #fff;
}

div.click-to-top:hover span {
    display: block;
    color: #FFF;
    background-color: #000;
    text-align: center;
    border-radius: 6px;
    box-shadow: 0 0 7px #4f4f4f; /* Параметры тени */
    padding: 10px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 80%;
}

.al-top {
    position: absolute;
    text-align: center;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.al-lt {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}

.al-rt {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}

.al-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.al-bot {
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.al-bot-rt {
    position: absolute;
    text-align: right;
    bottom: 0;
    right: 0;
    transform: translate(0, -50%);
}

.al-bot-lt {
    position: absolute;
    text-align: left;
    bottom: 0;
    left: 0;
    transform: translate(0, -50%);
}

.menu-top {
    margin-top: 100px;
}

.menu-top div img {
    width: 128px;
    height: 128px;
    padding: 10px;
    border-radius: 100%; /* Радиус скругления */
    background-color: #FFF;
    box-shadow: 0 0 40px #000; /* Параметры тени */
}

.menu-top:hover div img {
    background-color: #CCC;
}

.menu-lt {
    margin-left: 20px;
}

.menu-lt div {
    margin: 20px 0;
}

.menu-rt {
    margin-right: 20px;
}

.menu-rt div {
    margin: 20px 0;
}

.center-header {
    font-size: 42pt;
    color: #FFF;
    text-shadow: 6px 6px 24px #000000;
}

a {
    color: #FFFFFF;
}

.box {
    width: 100%;
    white-space: nowrap
}

.box div {
    display: inline-block;
}

.round{
    border-radius: 100%; /* Радиус скругления */
    border: 3px solid #000000; /* Параметры рамки */
    box-shadow: 0 0 7px #4f4f4f; /* Параметры тени */
}


.imgButton a img {
    width: 96px;
    height: 96px;
    border-radius: 100%; /* Радиус скругления */
    border: 3px solid #000000; /* Параметры рамки */
}

.imgButton:hover a img {
    border: 3px solid #ff012a; /* Параметры рамки */
    box-shadow: 0 0 20px #000; /* Параметры тени */
}

.imgButton:active a img {
    border: 3px solid #ff012a; /* Параметры рамки */
    box-shadow: 0 0 20px #000; /* Параметры тени */
}

.imgButtonCentral a img {
    border-radius: 100%; /* Радиус скругления */
    background-color: #ff012a;
    box-shadow: 0 0 20px #000; /* Параметры тени */
}
.imgButtonCentral:hover a img {
    border: 3px solid #ff012a; /* Параметры рамки */
    background-color: #dedede;
    box-shadow: 0 0 20px #000; /* Параметры тени */
}

.imgButtonCentral:active a img {
    border: 3px solid #86001c; /* Параметры рамки */
    background-color: #a1a1a1;
}

.imgCentral {
    width: 560px;
    height: 560px;
}

.imgCentralNote {
    width: 600px;
    height: 600px;
    animation: 2s linear infinite upDownMove;
}

.imgCentralSquare {
    width: 560px;
    height: 560px;
    animation: 8s linear infinite rotate;
}

@keyframes upDownMove {
    from {
        margin-top: 0;
    }

    10% {
        margin-bottom: 3%;
    }

    25% {
        margin-bottom: 8%;
    }

    50% {
        margin-bottom: 15%;
    }

    75% {
        margin-bottom: 8%;
    }

    90% {
        margin-bottom: 3%;
    }

    to {
        margin-top: 0;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 1100px) or (max-height: 1100px) {
    .menu-top {
        margin-top: 80px;
    }
    .menu-top div img {
        width: 112px;
        height: 112px;
    }
    .imgButton a img {
        width: 64px;
        height: 64px;
    }
    .imgCentral {
        width: 460px;
        height: 460px;
    }

    .imgCentralNote {
        width: 500px;
        height: 500px;
    }

    .imgCentralSquare {
        width: 460px;
        height: 460px;
        animation: 8s linear infinite rotate;
    }
    .imgButtonCentral a img {
        width: 96px;
        height: 96px;
    }
}

@media (max-width: 992px) or (max-height: 992px) {
    .imgButton a img {
        width: 64px;
        height: 64px;
    }
    .imgCentral {
        width: 300px;
        height: 300px;
    }

    .imgCentralNote {
        width: 300px;
        height: 300px;
    }

    .imgCentralSquare {
        width: 280px;
        height: 280px;
        animation: 8s linear infinite rotate;
    }

    .imgButtonCentral a img {
        width: 64px;
        height: 64px;
    }
}

@media (max-width: 600px) or (max-height: 600px) {
    .menu-top {
        margin-top: 60px;
    }
    .menu-top div img {
        width: 96px;
        height: 96px;
    }
    .imgButton a img {
        width: 48px;
        height: 48px;
    }
    .imgCentral {
        width: 200px;
        height: 200px;
    }
    .imgCentralNote {
        width: 200px;
        height: 200px;
    }
    .imgCentralSquare {
        width: 180px;
        height: 180px;
        animation: 8s linear infinite rotate;
    }
    .imgButtonCentral a img {
        width: 48px;
        height: 48px;
    }
}




